target
fuzz/target
**/*.rs.bk
*~
Cargo.lock

\#*\#
.\#*

#fuzz
fuzz/hfuzz_target
fuzz/hfuzz_workspace
fuzz/artifacts
fuzz/corpus

#IntelliJ project files
.idea
*.iml

#Vscode project files
.vscode

#Compiled C
*.o
*.a
*.lib
