[package]
name = "simplicity"
version = "0.1.0"
authors = ["Andrew Poelstra <apoelstra@wpsoftware.net>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "bitcoin", "elements" ]

[lib]
name = "simplicity"
path = "src/lib.rs"

[dependencies.bitcoin]
version = "0.23"
optional = true

[dependencies.elements]
version = "0.12"
optional = true

[dependencies]
bitcoin_hashes = "0.7"
byteorder = "1.3"
miniscript = "1.0.0"

