[package]
name = "simplicity"
version = "0.1.0"
authors = ["Andrew Poelstra <apoelstra@wpsoftware.net>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "bitcoin", "elements" ]
test-utils = ["simplicity-sys/test-utils"]
serde = ["actual-serde", "bitcoin/serde"]

[lib]
name = "simplicity"
path = "src/lib.rs"

[dependencies]
bitcoin = { version = "0.29.2", optional = true }
bitcoin_hashes = "0.11"
byteorder = "1.3"
elements = { version = "0.21.1", optional = true }
simplicity-sys = { version = "0.1.0", path = "./simplicity-sys" }
actual-serde = { package = "serde", version = "1.0.103", features = ["derive"], optional = true }

[dev-dependencies]
simplicity-sys = { version = "0.1.0", path = "./simplicity-sys", features = ["test-utils"] }

[workspace]
members = ["simpcli", "simplicity-sys"]
# Should be manually/separately tested since it has a massive dep tree
# and not follow MSRV
# FIXME we also need to include 'fuzz' in here because it currently uses
# a patched bitcoin_hashes. When we remove that, we can move it back
# to "members"
exclude = ["jets-bench", "fuzz"]
